* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
}
.container-winScreen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.winScreen {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: green;
}
.body {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.player1,
.player2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 2;
}
.player1 {
  background-color: darkred;
}
.player2 {
  background-color: darkblue;
}
.player1.selected {
  background-color: red;
}
.player2.selected {
  background-color: blue;
}
.container {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1;
}
.input {
  text-align: center;
  width: 100%;
}
button {
  width: 7rem;
  height: 3rem;
  border: 2px black solid;
  background-color: transparent;
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
}
.dice0,
.dice1,
.dice2,
.dice3,
.dice4,
.dice5,
.dice6 {
  width: 5rem;
  height: 5rem;
}
.dice1 {
  background: url(./img/Dice1.png) no-repeat center center/cover;
}
.dice2 {
  background: url(./img/Dice2.png) no-repeat center center/cover;
}
.dice3 {
  background: url(./img/Dice3.png) no-repeat center center/cover;
}
.dice4 {
  background: url(./img/Dice4.png) no-repeat center center/cover;
}
.dice5 {
  background: url(./img/Dice5.png) no-repeat center center/cover;
}
.dice6 {
  background: url(./img/Dice6.png) no-repeat center center/cover;
}
